<div *ngIf="userData" class="home-container">
  <div class="home-display">
    <section class="home-left">
      <home-profile [userData]="userData"></home-profile>
    </section>

    <!-- Experiencia -->
    <section class="home-right">
      <home-experience></home-experience>

      <!-- Educacion -->
      <home-education></home-education>

      <!-- Proyectos --> 
      <home-projects [userLogin]="userData.login" [pinnedRepos]="pinnedRepos"></home-projects>
    </section>
  </div>
</div>
