<div *ngIf="userData" class="profile-container">
  <div class="profile-header">
    <div class="profile-left">
      <home-profile [userData]="userData"></home-profile>

    </div>

    <!-- Experiencia -->
    <div class="profile-right">
      <home-experience></home-experience>

      <!-- Educacion -->
      <div class="education-section">
        <h2>Educación</h2>
        <div class="education-item">
          <h3>Tecnicatura Universitaria en Programación</h3>
          <div class="experience-info">
            <p><strong>UTN</strong> • Buenos Aires, Argentina</p>
            <p>jul. 2021 - jul. 2024</p>
          </div>
        </div>
      </div>

      <!-- Proyectos -->
      <div *ngIf="pinnedRepos.length > 0" class="pinned-repos-container">
        <h2>Proyectos</h2>
        <div class="repos-grid">
          <div class="pinned-repo" *ngFor="let repo of pinnedRepos">
            <h3>
              <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a>
            </h3>
            <p>{{ repo.description }}</p>
            <p>
              {{ repo.language }}
            </p>
          </div>
        </div>
        <div class="contributions-center">
          <img
            [src]="'https://ghchart.rshah.org/' + userData.login"
            alt="Gráfico de contribuciones"
          />
        </div>
      </div>
    </div>
  </div>
</div>
