<div class="experience-section">
    <h2>Experiencia</h2>
    <div class="experience-item">
      <h3>Software Developer</h3>
      <div class="experience-info">
        <p><strong><a href="https://careers-meli.mercadolibre.com/" target="_blank">Mercado Libre</a></strong> • Buenos Aires, Argentina</p>            
        <p>nov. 2024 - actualidad</p>
      </div>
      <div class="tech-badges">
        <span class="badge">Java</span>
        <span class="badge">Go</span>
        <span class="badge">SQL</span>
        <span class="badge">Git</span>
      </div>
    </div>
    <div class="experience-item">
      <h3>Software Developer</h3>
      <div class="experience-info">
        <p><strong><a href="https://tgv.com.ar/" target="_blank">TGV</a></strong> • Buenos Aires, Argentina</p>
        <p>abr. 2023 - nov. 2024</p>
      </div>
      <div class="tech-badges">
        <span class="badge">PHP</span>
        <span class="badge">JavaScript</span>
        <span class="badge">SQL</span>
      </div>
    </div>
  </div>